<button
  [type]="type"
  [disabled]="disabled || loading"
  [class]="'btn btn-' + variant + ' btn-' + size"
  [class.btn-full-width]="fullWidth"
  [class.btn-loading]="loading"
  (click)="handleClick($event)">
  <span class="btn-spinner" *ngIf="loading">
    <svg class="spinner" viewBox="0 0 24 24">
      <circle class="spinner-circle" cx="12" cy="12" r="10" fill="none" stroke-width="3"></circle>
    </svg>
  </span>
  <span [class.btn-content-loading]="loading">
    <ng-content></ng-content>
  </span>
</button>
